<div>
  <%= tableficate_label_tag(filter.start) %>
  <%= tableficate_text_field_tag(filter.start) %>
  <%= tableficate_label_tag(filter.stop) %>
  <%= tableficate_text_field_tag(filter.stop) %>
</div>
