<table>
  <thead>
    <tr>
      <% columns.each do |column| %>
        <th><%= column.header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% rows.each do |row| %>
      <tr>
        <% columns.each do |column| %>
          <td><%= row.send(column.label) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
