<table border="1">
  <thead>
    <tr>
      <% columns.each do |column| %>
        <th>
          <%= column.header %>
          <% if column.sortable? %>
            <%= link_to 'A', url_for(sort: column.label.to_s, dir: 'A') %>
            <%= link_to 'D', url_for(sort: column.label.to_s, dir: 'D') %>
          <% end %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% rows.each do |row| %>
      <tr>
        <% columns.each do |column| %>
          <td><%= column.value(row) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
